@import "./variable.styl"
@import "./mixin.styl"

// ws主题
.ws-line
  font-family: $fontFamilyLight
  color: $color-text33
  font-size: $font-size-large18
  position: relative
  line-height: 20px
  text-indent: 42px
  text-align: left
  &:after
    position: absolute
    top: 0
    left: 0
    content: ''
    width: 6px
    height: 20px
    background: $color-active

.ws-btn-blue
  background: $color-active
  color: $color-white
  font-family: $fontFamilyRegular
  font-size: $font-size-large12

.ws-btn-white
  background: $color-white
  color: $color-active
  font-family: $fontFamilyRegular
  font-size: $font-size-large12
  border: 1px solid $color-active

.ws-btn-line
  color: $color-active
  position: relative
  &:after
    content: ''
    background: $color-active
    height: 3px
    width: 40px
    row-center()
    bottom: 0

.ws-text
  ont-size: $font-size-medium14
  font-family: $fontFamilyLight
  color: $color-active

.ws-text-under
  font-size: $font-size-medium14
  font-family: $fontFamilyLight
  color: $color-active
  text-decoration: underline