@import "./variable.styl"
@import "./mixin.styl"

// 赞推主题
.zantui-line
  font-family: $fontFamilyLight
  color: $color-text33
  font-size: $font-size-large18
  position: relative
  line-height: 20px
  text-indent: 42px
  text-align: left
  &:after
    position: absolute
    top: 0
    left: 0
    content: ''
    width: 6px
    height: 20px
    background: $color-active
    transition: all 0.5s

.zantui-btn-blue
  text-align: center
  background: $color-active
  color: $color-white
  transition: all 0.5s

.zantui-btn-white
  text-align: center
  background: $color-white
  color: $color-active
  border: 1px solid $color-active
  transition: all 0.5s

.zantui-btn-line
  color: $color-active
  position: relative
  &:after
    content: ''
    background: $color-active
    height: 3px
    width: 40px
    row-center()
    bottom: 0
    transition: all 0.5s

.zantui-text
  ont-size: $font-size-medium14
  font-family: $fontFamilyLight
  color: $color-active !important
  transition: all 0.5s

.zantui-text-under
  font-size: $font-size-medium14
  font-family: $fontFamilyLight
  color: $color-active !important
  text-decoration: underline
  transition: all 0.5s

// 微商主题
.weishang-line
  font-family: $fontFamilyLight
  color: $color-text33
  font-size: $font-size-large18
  position: relative
  line-height: 20px
  text-indent: 42px
  text-align: left
  &:after
    position: absolute
    top: 0
    left: 0
    content: ''
    width: 6px
    height: 20px
    background: $color-pink-CA799A
    transition: all 0.5s

.weishang-btn-blue
  text-align: center
  background: $color-pink-CA799A
  color: $color-white
  transition: all 0.5s

.weishang-btn-white
  text-align: center
  background: $color-white
  color: $color-pink-CA799A
  border: 1px solid $color-pink-CA799A
  transition: all 0.5s

.weishang-btn-line
  color: $color-pink-CA799A
  position: relative
  &:after
    content: ''
    background: $color-pink-CA799A
    height: 3px
    width: 40px
    row-center()
    bottom: 0
    transition: all 0.5s

.weishang-text
  ont-size: $font-size-medium14
  font-family: $fontFamilyLight
  color: $color-pink-CA799A !important
  transition: all 0.5s

.weishang-text-under
  font-size: $font-size-medium14
  font-family: $fontFamilyLight
  color: $color-pink-CA799A !important
  text-decoration: underline
  transition: all 0.5s

// 智店主题
.zhidian-line
  font-family: $fontFamilyLight
  color: $color-text33
  font-size: $font-size-large18
  position: relative
  line-height: 20px
  text-indent: 42px
  text-align: left
  &:after
    position: absolute
    top: 0
    left: 0
    content: ''
    width: 6px
    height: 20px
    background: #22B3AB
    transition: all 0.5s

.zhidian-btn-blue
  text-align: center
  background: #22B3AB
  color: $color-white
  transition: all 0.5s

.zhidian-btn-white
  text-align: center
  background: $color-white
  color: #22B3AB
  border: 1px solid #22B3AB
  transition: all 0.5s

.zhidian-btn-line
  color: #22B3AB
  position: relative
  &:after
    content: ''
    background: #22B3AB
    height: 3px
    width: 40px
    row-center()
    bottom: 0
    transition: all 0.5s

.zhidian-text
  ont-size: $font-size-medium14
  font-family: $fontFamilyLight
  color: #22B3AB !important
  transition: all 0.5s

.zhidian-text-under
  font-size: $font-size-medium14
  font-family: $fontFamilyLight
  color: #22B3AB !important
  text-decoration: underline
  transition: all 0.5s

