.time-agent
  margin-left: 10px
  .el-date-editor--daterange.el-input, .el-date-editor--daterange.el-input__inner, .el-date-editor--timerange.el-input, .el-date-editor--timerange.el-input__inner
    width: 338px
    height: 30px
    padding : 0 10px
  .el-date-editor .el-range__icon
    transform: translateY(-20%)
  .el-date-editor .el-range-separator
    line-height: 28px
